<%= render 'shared/head' %>
<body class="finder <%= params[:controller] %>-<%= params[:id] %>">
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header pull-left">
        <a class="navbar-brand" href="/"><%= image_tag("logo-141x36.png", height: '36', width: '141', border: '0') %></a>
      </div>

      <div class="pull-right">
        <a class="visible-xs navbar-btn btn btn-default" href="tel:<%= SiteSetting.customer_service_phone %>"><Span class="glyphicon glyphicon-heart"></span> Help</a>
        <div class="navbar-text hidden-xs">
          <span style="font-size: 18px; padding-right: 10px">Questions?  <%= number_to_phone(SiteSetting.customer_service_phone, area_code: true) %></span> 
          <a href="/help" class="btn btn-default"><span class="glyphicon glyphicon-heart"></span><strong>Help</strong></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>
</body>
</html>
